#h1 h1{ 
    color:rgb(240, 143, 16);
    text-align: center;
    background-color: blanchedalmond;
}
#menu_bar a{

    text-decoration: none;
    background-color: aquamarine;
}
#menu_bar a:hover{
    text-decoration: none;
    color: darkblue;
    padding: 5px;
}
#foot div{
    background-color: rgb(42, 151, 165);
}
#home_back_image p{
    background-image: url('homepImg/homeback1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 1230px;
    
    font-size:  21px;
    b{color: rgb(246, 151, 7);}
    img{   border-radius: 20%;  }
    img:hover{
        border: 5px solid #8B4513;
    }
    
}

#all div{
    background-color:peru;
}

#foot div{
    background-image: url('homepImg/footerBackkk.png');
    background-size: cover;
    ul:hover{
        background-color: antiquewhite;
    }
}